<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
        <th scope="col">Recommend</th>
    </tr>
    </thead>
    <tbody>
    {{#PostList}}
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
            <td>{{author}}</td>
            <td>{{board_date}}</td>
            <td>{{recommend}}</td>
        </tr>
    {{/PostList}}
    </tbody>
</table>
</body>
</html>
